html {
    --marrom-forte: #1A100F;
    --marrom-medio: #34211D;
    --marrom-claro: #AB775F;
    --laranja-fechado: #9A2B09;
    --laranja-aberto: #EB5F1E;

}
body{
    background-color: var(--marrom-forte);
}


img{
    object-fit: cover;
    height: 20rem;
    width: 100%;
}
.card{
    background-color: var(--marrom-claro);
    color: white;
}

.btn-primary{
    background-color: var(--laranja-fechado);
    border-color: transparent;
}
.btn-primary:hover{
    background-color: var(--laranja-aberto);
    border-color: white;
}
.btn-primary:focus{
    background-color: var(--laranja-fechado);
    box-shadow: none !important;
    border-color: transparent;
}
.btn-primary:active{
    background-color: #ff793b;
}
