html {
  --marrom-forte: #1a100f;
  --marrom-medio: #34211d;
  --marrom-claro: #ab775f;
  --laranja-fechado: #9a2b09;
  --laranja-aberto: #eb5f1e;
}
body {
  background-color: var(--marrom-forte);
}
main {
  padding: 6rem 0;
}
h2 {
  margin: 2rem 0 1rem;
  font-size: clamp(1.5rem, 5vw, 4rem);
  color: var(--creme) !important;
  padding: 0 0.25rem;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1rem;
  padding: 0 0.25rem;
}

.card img {
  max-width: 100%;
  /* height: auto; */
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card {
  background-color: white;
  color: black;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: box-shadow ease-in-out 0.25s;
}
.card:hover {
  box-shadow: 0 0 0 2px var(--marrom-forte),
    0 0 2rem -0.5rem var(--laranja-aberto);
}

.card-title {
  color: var(--marrom-forte);
}

.btn-primary {
  background-color: var(--laranja-fechado);
  border-color: transparent;
}
.btn-primary:hover {
  background-color: var(--laranja-aberto);
  border-color: white;
}
.btn-primary:focus {
  background-color: var(--laranja-fechado);
  box-shadow:
    0 0 0 2px white,
    0 0 0.5rem 0.075rem rgb(13, 121, 148);
  border-color: transparent;
}
.btn-primary:active {
  background-color: #ff793b;
}
@media (min-width: 600px) {
  .card-grid,
  h2 {
    padding-left: clamp(5rem, 15vw, 30rem);
    padding-right: clamp(5rem, 15vw, 30rem);
  }
}
@media (min-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(3, minmax(17rem, 1fr));
  }
}


/* ANIMAÇÃO NÃO USADA */

/* @keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}

.modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
.modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
.modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
.modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
.modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#modal-container.six {
  transform: scale(1);
}

#modal-container .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal {
  background-color: transparent;
  animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal h2,
#modal-container .modal p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
#modal-container .modal .modal-svg rect {
  animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.out .modal {
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.out .modal h2,
#modal-container.out .modal p {
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
#modal-container.out .modal .modal-svg rect {
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
} */
